# Google OAuth 2.0 Web Client ID
# Obtain this from https://console.cloud.google.com/apis/credentials
# e.g. 1234567890-abcdefghij.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=749609290729-r7h6ef1ugfpd40f3u1cppujogckbi54e.apps.googleusercontent.com
